<div class="quizz__container">

  <app-title [title]="title"></app-title>

  <div *ngIf=!finished class="quizz_questions">
      <h3>{{questionSelected.question}}</h3>
  </div>

  <div *ngIf=!finished class="quizz_options">

    <app-quizz-button
      *ngFor="let option of questionSelected.options; let i = index"
      [name]="option.name"
      (onClick)="playerChoose(option.alias)">
    </app-quizz-button>

  </div>

  <app-quizz-results
    *ngIf=finished
    [answerSelected]="answerSelected">
  </app-quizz-results>
</div>
